[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maxacmaxac
[access "refs/for/refs/*"]
	read = group user/maxacmaxac
	push = group user/maxacmaxac
	label-Code-Review = -2..+2 group user/maxacmaxac
	label-Verified = -1..+1 group user/maxacmaxac
	rebase = group user/maxacmaxac
	removeReviewer = group user/maxacmaxac
	submit = group user/maxacmaxac
[access "refs/heads/*"]
	read = group user/maxacmaxac
	create = group user/maxacmaxac
	push = +force group user/maxacmaxac
	pushMerge = group user/maxacmaxac
[access "refs/tags/*"]
	push = +force group user/maxacmaxac
	pushTag = group user/maxacmaxac
	pushSignedTag = group user/maxacmaxac
